.optionsList {
  display: flex;
  flex-direction: row;
  align-self: start;
  gap: 10px;
}
.optionsContainer {
  padding-top: 30px;
}
button {
  cursor: pointer;
  text-align: center;
  border: 1px solid azure;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: rgb(165, 202, 244);
  color: rgb(22, 23, 23);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  transition: border, color, background-color,
    box-shadow transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  border: 1px ridge rgb(47, 45, 45);
  background-color: rgb(147, 83, 207);
  transform: scale(1.1);
  color: azure;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
