.container {
  max-width: 1200px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
}
